/* * {
margin: 0;
padding: 0;
box-sizing: border-box;
} */

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background: rgb(110, 135, 190); */
  background: radial-gradient(circle, rgb(106, 171, 245) 0%, rgb(33, 84, 90) 100%);
}

h1 {
  margin: 0;
}

.container {
  flex: 1;
  /* border: 2px solid blueviolet; */
  color: #fff;
}

.header-container {
  font-family: 'Notable', sans-serif;
  font-size: 40px;
  color: #fff;
  /* background-color: #5995DA;  Blue */
  /* padding: 20px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-score {
  font-size: 14px;
  
}

.content-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-items {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(255, 0, 0); */
  /* background-color: #D6E9FE; */
  flex: 1;
  justify-content: center;
  align-items: stretch;
}

.content-item {
  display: flex;
  /* border: 1px solid #fff; */
  /* background-color: #d6fede; */
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.content-item1 {
  background-color: #F5CF8E;
}

.content-item2 {
  background-color: #F09A9D;
}

.content-item3 {
  background-color: #C3EDFA;
}

.content-item4 {
  background-color: #C8C6FA;
}

.content-item {
  background-color: transparent;
}

.footer-container {
  display: flex;
  justify-content: center;
  /* background-color: #5995DA; */
}

.footer-item {
  padding: 1em;
}

.colors {
  background-color: #F5CF8E;
  background-color: #F09A9D;
  background-color: #B2D6FF;
  background-color: #C3EDFA;
  background-color: #C8C6FA
}

.canvas-bg {
  background-repeat: repeat;
  background-image: url("./imgs/tileBg3.png");
  border: 2px solid gold;
}

.icons {
  font-size: 30px;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: blue;
}